@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1f244d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #8bcf17;
}

.custom-btn {
  @apply py-1 px-2 text-gray-600 bg-[var(--main-color)] duration-500 rounded font-bold flex items-center justify-center cursor-pointer;
}
.custom-btn-outline {
  @apply py-1 px-2 border-2 text-white hover:bg-transparent text-[var(--main-color)] border-[var(--main-color)] hover:text-[var(--main-color)] duration-500 rounded;
}

.nav-item {
  @apply font-bold;
}

.active-item {
  @apply border-b-2 border-[var(--main-color)] text-[var(--main-color)];
}

.section-title {
  @apply text-3xl text-center font-bold text-[var(--bg-color)] mb-5;
}
.custom-container {
  @apply xl:px-32 lg:px-20 md:px-10 px-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.hotel-type-btn {
  @apply absolute top-2 left-2 bg-[var(--main-color)] font-semibold text-[var(--second-bg-color)] py-0.5 px-2 rounded flex items-center justify-center gap-0.5;
}

.graph-card {
  @apply bg-gradient-to-r to-slate-200 text-[var(--bg-color)] py-4 rounded text-center border-2;
}
